<h1>Log in</h1>
<%= form_tag sessions_path do %>
<form class="pure-form">
    <fieldset>
        
        <%= text_field_tag(:email, params[:email], placeholder: "Email") %>
     
        <%= password_field_tag(:password, "", placeholder: "Password")  %>
        
        <!-- <label for="remember">
            <input id="remember" type="checkbox"> Remember me
        </label> -->
        <%= submit_tag "Sign in", :class => "pure-button" %>
    </fieldset>
</form>
<% end %>