<h1>Welcome To Seat Yourself</h1>


<%= link_to "Start Viewing Restaurant Listings", restaurants_path, :class => "pure-button pure-button-primary" %>

<%= link_to "Register your restaurant", controller: "restaurants", :class => "pure-button" %>