<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to "Find Table", controller: "restaurants" %>
<%= link_to "Find customers", controller: "restaurants" %>

<%= link_to "View Restaurants List", controller: "restaurants" %>