h1 {
  text-align: center;
}

div.pure-g {
    text-align: left;
    background-color: rgb(221, 221, 221);
    position:absolute;
    position:           absolute;
    display:            inline-block;
    left:           -500px;
    width:          1000px;
    margin:             0 50%;
}
